{% extends 'input_base.html' %}

{% block form%}
    <form class="form-signin" method="post" action="{% url 'app_create' %}">
    {% csrf_token %}
    <h2 class="form-signin-heading">Create app</h2>

    <label for="inputName" class="sr-only">App Name</label>
    <input type="text" name="name" class="form-control" placeholder="App Name" required>

    <label for="inputDescription" class="sr-only">App Description</label>
    <input type="text" name="description" class="form-control" placeholder="App Description" required>

    <label for="inputUrl" class="sr-only">App Url</label>
    <input type="url" name="app_url" class="form-control" placeholder="App Url">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>
{% endblock %}