{% extends 'jumbotron_base.html' %}

{% block title %}
  <title>App-List</title>
{% endblock %}

{% block introduction %}
  <h1>학교 프로젝트 목록</h1>
  <p>DSM-API가 적용된 학교 프로젝트들의 목록입니다.<br>DSM-API의 유즈케이스들을 확인할 수 있습니다.</p>
{% endblock %}

{% block container %}
  {% for set in app_list %}
    <div class="row">
      {% for app in set %}
        <div class="col-md-4">
          <h2>{{ app.name }}</h2>
          <p>{{ app.description }}</p>
          {% if app.app_url %}
            <a class="btn btn-default" href="{{ app.app_url }}" role="button">앱으로 이동 »</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
