{% extends 'jumbotron_base.html' %}

{% block introduction %}
  <h1>DSM-API V1</h1>
  <p>DSM-API는 학생들이 프로젝트를 진행할 때 학교 관련 기본 api를 지원하는 플랫폼입니다<br>V1에서는 OAuth를 지원하고 추후 기능들이 추가될 예정입니다.</p>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-md-4">
      <h2>서비스 목록</h2>
      <p>DSM-API에서 지원하는 서비스들의 목록입니다.<br>현재는 OAuth만 지원하고 있습니다.</p>
      <p><a class="btn btn-default" href="{% url 'service_list' %}" role="button">View details »</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>학교 프로젝트 목록</h2>
      <p>DSM-API가 적용된 학교 프로젝트들의 목록입니다.<br>DSM-API의 유즈케이스들을 확인할 수 있습니다.</p>
      <p><a class="btn btn-default" href="{% url 'app_list' %}" role="button">View details »</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>개발자 프로필</h2>
      <p>저는 인상민입니다.<br>코리엔탈 깻잎 두마리 치킨과 신전떡볶이를 좋아해요.<br>아래 버튼을 누르면 제 이력서로 이동합니다.</p>
      <p><a class="btn btn-default" href="https://zety.com/mycv/SangminIn" role="button">View details »</a></p>
    </div>
  </div>
{% endblock %}
