{% extends 'jumbotron_base.html' %}

{% block title %}
  <title>App-List</title>
{% endblock %}

{% block introduction %}
  <h1>앱 관리</h1>
  <p>새로운 앱을 만들고, 앱을 수정할 수 있습니다.</p>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-md-4">
      <a class="btn btn-info" href="{% url 'app:app_create' %}" role="button">앱 생성</a>
    </div>
  </div>
  {% for set in app_list %}
    <div class="row">
      {% for app in set %}
        <div class="col-md-4">
          <h2>{{ app.name }}</h2>
          <p>{{ app.description }}</p>
          <p>client_id: {{ app.client_id }}</p>
          <p>secret_key: {{ app.secret_key }}</p>
          {% if app.app_url %}
            <p>app_url: {{ app.app_url }}</p>
          {% endif %}
          <a class="btn btn-default" href="{% url 'app:app_manage' app.id %}" role="button">정보 수정 »</a>
          <a class="btn btn-default" href="{% url 'app:app_manage' app.id %}" role="button">서비스 수정 »</a>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
