{% extends 'input_base.html' %}

{% block title %}
  <title>Signup</title>
{% endblock %}

{% block form %}
  <form class="form-signin" method="post" action="{% url 'account:signup' %}">
    {% csrf_token %}
    <h2 class="form-signin-heading">Sign up</h2>

    <label for="inputUUID" class="sr-only">UUID</label>
    <input type="text" name="uuid" class="form-control" placeholder="UUID" required>

    <label for="inputName" class="sr-only">Name</label>
    <input type="text" name="name" class="form-control" placeholder="Name" required>

    <label for="inputNumber" class="sr-only">Name</label>
    <input type="number" name="number" class="form-control" placeholder="Number" required>

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" name="email" class="form-control" placeholder="Email" required>

    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="username" class="form-control" placeholder="Username" required>

    <label for="inputPassword1" class="sr-only">Password</label>
    <input type="password" name="password1" class="form-control" placeholder="Password1" required>

    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" name="password2" class="form-control" placeholder="Password2" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>
{% endblock %}